---
import CoursesSection from '@/components/sections/CoursesSection.astro';
import HeroProgram from '@/components/sections/HeroProgram.astro';
import { getCoursesByProgram } from '@/lib/courses';
import Layout from '@layouts/Layout.astro';

const courses = await getCoursesByProgram('CAPACITACION_DOCENTE');
---

<Layout
  title="Capacitación Docente"
  description="Cursos de capacitación y actualización para docentes de idiomas. Fortalece tus competencias pedagógicas y metodológicas en la enseñanza de inglés y francés."
  keywords="capacitación docente, formación profesores inglés, cursos docentes idiomas, actualización metodológica, desarrollo profesional docente, TLC Colombia"
>
  <HeroProgram
    programa="Cursos"
    titulo="Capacitación docente"
    descripcion="Programas de formación docente enfocado en estrategias pedagógicas innovadoras, evaluación formativa, uso de inteligencia artificial y gestión de aula para fortalecer la enseñanza y el aprendizaje del inglés."
    imagen="/assets/images/Banner_3.webp"
    src="/audios/frances.mp3"
  />

  <!-- Seccion reutilizable de lista de cursos disponibles máx 6 -->
  <CoursesSection title="Cursos disponibles" courses={courses} bgColor="bg-secondary-100/10">
    <p class="text-center text-lg w-3/4 mx-auto text-secondary-600 dark:text-secondary-400 mt-12">
      Para obtener más información detallada, puede ponerse en contacto con nosotros a través de nuestro correo
      electrónico <a class="font-bold" href="mailto:servicliente@ceaitlc.com.co">servicliente@ceaitlc.com.co</a> o llamando
      al teléfono (601) 6333300 EXT 107
    </p>
  </CoursesSection>
</Layout>
