.message-card::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background: inherit;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}

/* Izquierda */
.message-card[data-side="left"]::before {
  left: -9px;
}

/* Derecha */
.message-card[data-side="right"]::before {
  right: -9px;
}