---
import { Link } from '@components/ui';

interface Props {
  title: string;
  description: string;
  url: string;
  class?: string;
  label?: string;
}


const { title, description, url, class: className, label = 'Ver más' } = Astro.props;
---

<article class:list={['bg-card rounded-lg border border-secondary-200 shadow-md hover:shadow-lg transition-shadow p-6 flex flex-col ', className]}>
  <h3 class="text-xl font-semibold text-secondary-900 dark:text-primary-200 mb-3 min-h-16 flex items-center">{title}</h3>
  <p class="text-secondary-600 dark:text-secondary-400 text-sm mb-6 grow leading-relaxed">{description}</p>
  <Link href={url} size="lg">{label}</Link>
</article>
